Nvs_Controller/Service References/NvsService/ObjInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ObjInfo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ObjInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User_Info">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Online_Status" type="xs:int" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User_Info" nillable="true" type="tns:User_Info" />
  <xs:complexType name="Message_Info">
    <xs:sequence>
      <xs:element minOccurs="0" name="From_User_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="To_User_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message_Info" nillable="true" type="tns:Message_Info" />
  <xs:complexType name="ArrayOfUser_Info">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User_Info" nillable="true" type="tns:User_Info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser_Info" nillable="true" type="tns:ArrayOfUser_Info" />
  <xs:complexType name="ArrayOfMessage_Info">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message_Info" nillable="true" type="tns:Message_Info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage_Info" nillable="true" type="tns:ArrayOfMessage_Info" />
  <xs:complexType name="Session_Info">
    <xs:sequence>
      <xs:element minOccurs="0" name="Online_Status" type="xs:int" />
      <xs:element minOccurs="0" name="User_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Session_Info" nillable="true" type="tns:Session_Info" />
</xs:schema>