Nvs_Controller/Service References/NvsService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ObjInfo" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllCode_CheckWCF">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllCode_CheckWCFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AllCode_CheckWCFResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_PassWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ObjInfo" minOccurs="0" name="User_LoginResult" nillable="true" type="q1:User_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Send_Msg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ObjInfo" minOccurs="0" name="p_Message_Info" nillable="true" type="q2:Message_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Send_MsgResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_User">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_UserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ObjInfo" minOccurs="0" name="Get_All_UserResult" nillable="true" type="q3:ArrayOfUser_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_msgSend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_msgSendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ObjInfo" minOccurs="0" name="Get_msgSendResult" nillable="true" type="q4:ArrayOfMessage_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_msgReceive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_msgReceiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ObjInfo" minOccurs="0" name="Get_msgReceiveResult" nillable="true" type="q5:ArrayOfMessage_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ObjInfo" minOccurs="0" name="_data" nillable="true" type="q6:Message_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PushSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ObjInfo" minOccurs="0" name="_data" nillable="true" type="q7:Session_Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PushData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>